body{
    background-color: rgb(52, 22, 54);
}
#contain {
    background-color: rgb(136, 246, 250);
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
#header {
    background-color: rgb(88, 149, 235);
    color:rgb(26, 18, 95); 
    text-align: center;
}
#options {
    float: left;
    padding: 12px;
}
#feedback{
    float: left;
    background-color: powderblue;
    padding: 10px;
}
#gradTree{
    float: right;
}
#footer{
    clear: both;
}